{{ tn .Loc "Testing TN translation with amount" "Testing TN translations with amount" 2 }}
{{ tl .Loc "Testing TL translation" }}
{{ tl .Loc "First translation text" }}
{{ tn .Loc "Testing TN translation" "Testing TN translations" }}
{{ tn .Loc "Testing TN translation with amount and vars" "Testing %s translations with amount and vars" 2 "TN" }}

{{ ctl .Loc "in context" "Testing CTL translation" }}
{{ ctn .Loc "in context" "Testing CTN translation" "Testing CTN translations" 2 "CTN" }}
